<a href="https://colab.research.google.com/github/moonjune/test-repo/blob/master/knowledge_my.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 큰 따옴표, 작은 따옴표
msg = '"You shouldn\'t ", he said'
msg

'"You shouldn\'t ", he said'

In [0]:
# 포메팅
print("%10s" % "go") # 10s는 공간 10개를 할당하고 뒤의 hi는 그 공간 중 오른쪽 정렬
print("%-10sguys." % 'go') #-10s는 공간 10개 할당 후 왼쪽정렬을 의미, %-10s까지 묶이고 jane은 그 할당 공간 다음부터 배정
print("%10.4f"% 3.3337777) # 0.4f 중 f는 float을 의미하는 듯, 앞의 0는 할당공간, .4는 소숫점 이하 유효수자 개수(반올림 함)
                            # 대입된 문자의 길이가 할당공간보다 크면 작동 안하는 듯
print("%0.2f%%" % 3.3337777) # %를 이용한 포메팅 시 '%'를 사용하려면 '%%'를 사용하여야 함

        go
go        guys.
    3.3338
3.33%

In [0]:
#format을 사용한 포메팅(f''포메팅은 3.6부터 된다고 함)
# 포메팅 괄호 중괄호 안 숫자로, 포메팅 괄호 안 텍스트 선택 가능
print("2002년도 {0},2006년도 {1}, 2010년도 {0}로 확정".format('스페인','독일')) 
print("2002년도 {cntry} 항공 티켓 값은 {cost}로 확정".format(cntry='스페인',cost=7000)) 
print("{:>10}".format("goooooal")) # % 포메팅의 공간할당과 같은데 표기 차이 존재,(:<이 한 단위, 중간 ^, 오른쪽 <)
print("{0:~^10}".format("go")) # 할당된 공간 나머지를 채우는 문자 입력 가능(:와 ^사이 )(2종류는 안되네)
print("{0:0.4f}".format(3.42134234)) # 0이후부터는 %와 동일, .앞은 할당공간, .뒤는 유효숫자수(반올림)
print("{{{0:0.4f}}}".format(3.42134234)) # format 포메팅에서 중괄호 표현 시 두개를 연속해서 써주면 됨.

2002년도 스페인,2006년도 독일, 2010년도 스페인로 확정
2002년도 스페인 항공 티켓 값은 7000로 확정
  goooooal
~~~~go~~~~
3.4213
{3.4213}

In [0]:
# f포메팅
name = 'messi'
balon = 0
print(f'축신의 이름은 {name}이며. 그의 발롱도르 개수는 {balon+6}개 입니다.') # f포메팅은 변수 및 연산을 바로 넣는게 가능
print(f'go{"goal":o>10}') # format 포메팅과 비슷한 방식의 할당 및 정렬, 채우기도 동일

축신의 이름은 messi이며. 그의 발롱도르 개수는 6개 입니다.
gooooooogoal

In [0]:
# 문자열 join
",".join('07레알') # 조인을 모르는 건 아니지만 문자열에 대해서도 익숙해지라고

'0,7,레,알'

In [0]:
# 튜플
a = 1,2,3,4 # 튜플은 ()없이 바로 콤마로 나열하면 튜플로 생성됨
print(a)
type(a)

(1, 2, 3, 4)

5

In [0]:
# 딕셔너리

top = 't'
sales = 's'
a = {('t','s') : 5} # 딕쇼너리의 경우 튜플을 키로 쓸 수 있음
a[(top,sales)]

a.keys() # 키 불러오는 기능 씌우는 것으로 리스트나 튜플로 생성 가능
a.values() # 값 불러오는 기능 씌우는 것으로 리스트나 튜플로 생성 가능
a.items() # 값, 키 다 불러오는 기능 씌우는 것으로 리스트나 튜플로 생성 가능
a.get('d') == None # get은 키가 사전 내 없을 경우 None 값을 가지므로 오류 대신 활용 가능

True

In [0]:
#집합

set_e = set("Hello") # 집합은 순서나 중복이 없음, 리스트 -> 집합 후 연산 -> 리스트가 주로 활용된다 함
set1 = set([1,2,3,4,5])
set2 = set([3,4,5,6,7])
print(set1 & set2) # 교집합 구하기 set1.intersection(set2)도 가능
print(set1 | set2) # 합집합 구하기 (역시 중복 없음) set1.union(set2)도 가능
print(set1 - set2) # 차집합 구하기 set1.difference(set2)도 가능

{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}

In [0]:
# for 반복문 활용
a = [[1,2],[3,4],[5,6]]
for (one, two) in a: # 자주 써보자 리스트 튜플 모두 되고, ()로 감싸든 []로 감싸든 상관 없음
  print(one+two)

a = [1,2,3,4,5]
a3 = [element_a * 3 for element_a in a] # 리스트 내보, 줄을 짧게 쓰는 방법
print(a3)

a4 = [element_a * element_b for element_a in a if element_a < 4
                            for element_b in range(10,51,10) if element_b < 30] # 리스트 내포, if문, 리스트 중첩 가능
print(a4)

3
7
11
[3, 6, 9, 12, 15]
[10, 20, 20, 40, 30, 60]

In [0]:
#함수

def add_many(*args): # 입력값 개수를 자유로이 입력 가능, 입력된 값들은 하나의 튜플이 됨(args는 관례적 이름으로 변경 가능)
  result = base_num
  for i in arges:
    result = result + i
  return result

def add_diff(option, *args): # args 응용, 고정 인수를 넣을 수도 있는데, 이런건 앞에 둬야 함
  result = 0
  if option == 'add':
    for i in args:
      result = result + i
    return result
  elif option == 'diff':
    for i in args:
      result = result - i
    return result
  else:
    print('input correct option')

def print_kwargs(**kwargs): #키워드 파라미터, **로 입력 시작한다. 들어가야 할 것은 변수명=값 으로 딕셔너리 형태를 띈다.
  print(kwargs)

def escape_f(key): # 값이 빈 리턴을 활용하는 것.. 나중에 체감되려나..
  if key != "":
    return
  elif key == "":
    return "뭐?"

abc = lambda a, b, c:(a+b)*c

In [0]:
#print 문 활용
for i in range(10):
  print(i, end='/') # 반복문에 의한 줄바꿈을 안하기 위함

0/1/2/3/4/5/6/7/8/9/

In [0]:
# 파일 생성
f = open("Dfile.txt","w")
f.close()

In [0]:
#파일 생성
f = open("Dfile.txt","w")
for i in range(1,11):
  data = f"{i}번째 줄입니다.\n"
  f.write(data) #파일에 내용 입력
f.close()

!cat Dfile.txt #파일 열기

In [0]:
f = open("Dfile.txt",'r')
line = f.readline() # readlind()을 이용하여 파일 내 텍스트를 한 줄 씩 불러옴
while True:
  line = f.readline()
  if not line: break
  print(line, end = '/')
f.close()

2번째 줄입니다.
/3번째 줄입니다.
/4번째 줄입니다.
/5번째 줄입니다.
/6번째 줄입니다.
/7번째 줄입니다.
/8번째 줄입니다.
/9번째 줄입니다.
/10번째 줄입니다.
/

In [0]:
f = open("Dfile.txt",'r')
lines = f.readlines() # readlinds()을 이용하여 파일 내 텍스트를 한번에 불러와 이터레이션으로 만듬?
for line in lines:
  print(line, end = '')
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [0]:
f = open("Dfile.txt",'r')
data = f.read() # read()를 이용하여 파일 내 전체 텍스트를 불러옴
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [0]:
# 파일에 새 내용 추가하기
f = open("Dfile.txt", 'a')
for i in range(11,20):
  data = f"{i}번째 줄입니다.\n"
  f.write(data)
f.close()

In [0]:
#파일 열 때 with가 쓰이는 경우
with open('foo.txt', 'w') as f:
  f.write('Life is too short, you need python') #이렇게 파일을 열 경우 작업이 끝나면 바로 파일을 닫아줌

In [0]:
#sys 모듈 사용 경우

import sys

args = sys.argv[1:]
for i in args:
  print(i)

-f
/root/.local/share/jupyter/runtime/kernel-b1c78264-eb5a-4d90-9031-916498274514.json

In [0]:
# 클래스 연습

class Fourcal:
  def __init__(self, n1, n2): # 처음에 setdata를 거치지 않아도 됨
    self.num1 = n1
    self.num2 = n2

  def setdata(self, n1, n2): # 객체 내 데이터 바로 수정 경로 지정하기
    self.num1 = n1
    self.num2 = n2
  
  def add(self):
    return self.num1+self.num2

  def mul(self):
    return self.num1*self.num2

  def sub(self):
    return self.num1-self.num2

  def div(self):
    return self.num1/self.num2

In [0]:
a = Fourcal(4,2)
print(a.add())
print(a.mul())
print(a.sub())
print(a.div())
a.setdata(20,10)
print(a.add())
print(a.mul())
print(a.sub())
print(a.div())

6
8
2
2.0
30
200
10
2.0

In [0]:
# 상속과 함수 추가
class MoreFourCal(Fourcal):
  def pow(self):
    result = self.num1 ** self.num2
    return result

In [0]:
a=MoreFourCal(4,2)
a.pow()

16

In [0]:
# 상속과 매써드 오버라이딩
class MoreFourCal(Fourcal):
  def pow(self):
    result = self.num1 ** self.num2
    return result
  def div(self):
    if self.num2 == 0:
      return 0
    else:
      return self.num1 / self.num2

In [0]:
a=MoreFourCal(4,0)
a.div()

0

In [0]:
import os

os.chdir("/content/game")

In [86]:
os.mkdir("/content/game/sound")
os.mkdir("/content/game/graphic")

with open('__init__.py','w') as f:
  pass

graphic  __init__.py  __pycache__  sound

In [0]:
os.mkdir("/content/game/sound")
os.chdir("/content/game/sound")

with open('__init__.py','w') as f:
  pass

with open('echo.py','w') as f:
  text = "def echo_test():\n  print('echo')"
  f.write(text)

In [0]:
os.mkdir("/content/game/graphic")
os.chdir("/content/game/graphic")

with open('__init__.py','w') as f:
  pass

with open('render.py','w') as f:
  text = "def render_test():\n  print('render')"
  f.write(text)

In [0]:
# os.chdir("/content/game/graphic")
# from google.colab import files
# files.download('render.py')

In [0]:
# os.chdir("/content/game/sound")
# from google.colab import files
# files.download('echo.py')

In [0]:
os.chdir("/content/game")
!ls

__init__.py  __pycache__

In [0]:
import sys
sys.path.insert(1, "/content")

In [87]:
from game.sound import *
echo.echo_test()

echo

In [0]:
from game.sound.echo import echo_test
def render_test():
  
  echo_test()

In [0]:
from game.graphic.render import *

In [96]:
render_test()

render

In [0]:
def gugu(a):
  import numpy as np
  base = np.array([1,2,3,4,5,6,7,8,9])
  output = base * 2
  return list(output)

In [113]:
a = gugu(2)
a

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [0]:
def tfm(n):
  a = [i for i in range(1,n) if i %3 == 0 or i % 5 ==0]
  return sum(a)

In [132]:
tfm(1000)

233168

In [127]:
n = 10
a = set([i for i in range(1,n) if i %3 == 0 or i % 5 ==0])
a

{3, 5, 6, 9}